<div
  class='flex items-center mb-4 {{if @message.user.isJohn "flex-row-reverse"}}'
>
  <div
    class='flex-none flex flex-col items-center space-y-1
      {{if @message.user.isJohn "ml-4" "mr-4"}}'
  >
    <img
      class='rounded-full w-10 h-10'
      src='https://thispersondoesnotexist.com/image'
    />
    <p class='block text-xs'>{{@message.user.firstName}}</p>
  </div>
  <div
    class='flex-1
      {{if
        @message.user.isJohn
        "bg-indigo-100 text-gray-800"
        "bg-indigo-400 text-white"
      }}
      p-2 rounded-lg mb-2 relative'
  >
    <div>{{@message.content}}</div>

    <!-- arrow -->
    {{#if @message.user.isJohn}}
      <div
        class='absolute right-0 top-1/2 transform translate-x-1/2 rotate-45 w-2 h-2 bg-indigo-100'
      ></div>
    {{else}}
      <div
        class='absolute left-0 top-1/2 transform -translate-x-1/2 rotate-45 w-2 h-2 bg-indigo-400'
      ></div>
    {{/if}}
    <!-- end arrow -->
  </div>
</div>
